<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eko - Machine Learning para Politica Publica</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
</head>

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<body>
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="padding-left: 0; padding-right: 0; padding-bottom: 0; position: relative">
                <img src="{{ url_for('static', filename='img/main.jpg') }}" align="center" alt="icons" width="100%">
            </div>
        </div>
    </div>
</section>

<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background: #151241">
                <div class="col-lg-12">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <strong><font color="white" size="5em">Es un ecosistema de algoritmos que automatizarán, controlarán y procesarán
                            información generando mejoras en los procesos de la CRC.
                        </font></strong>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <div class="col-lg-12" style="margin-top: 50px">
                        <img src="{{ url_for('static', filename='img/robot_1.png') }}" align="center" alt="icons"
                             width="40%">
                    </div>
                    <div class="col-lg-12" style="margin-top: 30px; margin-bottom: 60px">
                        <p>
                            <font color="white" size="6em">ESCUCHA
                                <br>
                                <br>
                            </font>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-12" style="margin-top: 50px">
                        <img src="{{ url_for('static', filename='img/robot_2.png') }}" align="center" alt="icons"
                             width="40%">
                    </div>
                    <div class="col-lg-12" style="margin-top: 30px; margin-bottom: 60px">
                        <p>
                            <font color="white" size="6em">CLASIFICA
                                <br>
                                <br>
                            </font>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-12" style="margin-top: 50px">
                        <img src="{{ url_for('static', filename='img/robot_3.png') }}" align="center" alt="icons"
                             width="40%">
                    </div>
                    <div class="col-lg-12" style="margin-top: 30px; margin-bottom: 60px">
                        <p>
                            <font color="white" size="6em">INTERPRETA
                                <br>
                                <br>
                            </font>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="eko_escucha" class="eko_escucha">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <br>
                    <br>
                    <img src="{{ url_for('static', filename='img/eko_escucha.png') }}" align="center" alt="icons"
                         width="40%">
                </div>
                <div class="col-lg-6">
                    <p>
                        <br>
                        <br>
                        <br>
                        <strong><font color="black" size="5em">EKO ESCUCHA</font></strong>
                        <font color="black" size="4em">
                            <br>
                            Es un proceso en profundidad de capturar las expectativas, preferencias y aversiones del
                            ciudadano. Este proceso centrado y riguroso busca para obtener, estructurar y priorizar
                            la voz del ciudadano que información relevantes sobre las necesidades y expectativas del
                            usuario de telecomunicaciones.
                            <br>
                        </font>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="eko_clasifica" class="eko_clasifica">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <p>
                        <br>
                        <br>
                        <br>
                        <strong><font color="white" size="5em">EKO CLASIFICA</font></strong>
                        <font color="white" size="4em">
                            <br>
                            Es un proceso en profundidad de capturar las expectativas, preferencias y aversiones del
                            ciudadano. Este proceso centrado y riguroso busca para obtener, estructurar y priorizar
                            la voz del ciudadano que información relevantes sobre las necesidades y expectativas del
                            usuario de telecomunicaciones.
                            <br>
                        </font>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
                <div class="col-lg-6">
                    <br>
                    <br>
                    <img src="{{ url_for('static', filename='img/eko_clasifica.png') }}" align="center" alt="icons"
                         width="40%">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="eko_interpreta" class="eko_interpreta">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <br>
                    <br>
                    <img src="{{ url_for('static', filename='img/eko_interpreta.png') }}" align="center" alt="icons"
                         width="40%">
                </div>
                <div class="col-lg-6">
                    <p>
                        <br>
                        <br>
                        <br>
                        <strong><font color="white" size="5em">EKO ESCUCHA</font></strong>
                        <font color="white" size="4em">
                            <br>
                            Es un proceso en profundidad de capturar las expectativas, preferencias y aversiones del
                            ciudadano. Este proceso centrado y riguroso busca para obtener, estructurar y priorizar
                            la voz del ciudadano que información relevantes sobre las necesidades y expectativas del
                            usuario de telecomunicaciones.
                            <br>
                        </font>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<h1>Text predictor for Voice of the Citizen</h1>
<p>Instructions: make a POST request to /api/v1/prediction sending {"text": "some text"}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
</body>
</html>